# R folders/files
.Rhistory
.RData
.Rproj.user/
.Ruserdata

# Python
__pycache__/
*.pyc

# Docker
docker-compose.override.yml

# Notebook checkpoints
.ipynb_checkpoints/
.DS_Store
/data
.Rproj.user

node_modules

# Large build artifacts
*.deb