# R folders/files
.Rhistory
.RData
.Rproj.user/
.Ruserdata

# Python
__pycache__/
*.pyc

# Docker
docker-compose.override.yml

# Notebook checkpoints and results
.ipynb_checkpoints/
.DS_Store
/data
/results
/reports/steam_full_analysis.pdf
/reports/steam_full_analysis.html
.Rproj.user

node_modules

# Large build artifacts
*.deb
